@keyframes rotate{
	0%   { transform: translateY(0);}
 	50%  { transform: translateY(-45px); }
  	100% { transform: translateY(0); }
}

@keyframes run{

 	25%  { transform: translateX(-75px); }
	75%  { transform: translateX(75px); }

}


body {
	background: rgb(0, 0, 0);
	height: 300px;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px 10px;
}

h1 {
	color: #eee;
	text-align: center;
	width: 100%;
}

.battle {
	margin-top: 100px;
	background: #eee;
	width: 410px;
	height: 325px;
	border-radius: 5px;
	box-shadow: 1px 1px 5px rgb(70, 14, 14);

}

.battle:hover{
	
	animation-name: rotate;
	transform: scale(1.5);
	animation: rotate 1.5s infinite;
	position: relative;
	z-index: 1;
	box-shadow: 3px 3px 5px rgb(132, 19, 19);
}

.battle__field {
	width: 400px;
	height: 300px;
	box-sizing: border-box;
	outline: 2px dashed rgb(200, 59, 59);
	margin: 0 auto;
}

.battle__field > div:first-child {
	height: 300px;
	box-sizing: border-box;
}

.battle__name {
	text-align: center;
}